<!doctype html>

<html lang="en-US">

	<head>

	<!-- based in part on Zev Chonoles' website, used under the CC-BY 4.0 license -->

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="utf-8">
	
	<meta name="author" content="Ben Seeger" >

	<meta name="description" content="Professor at University of North Carolina at Chapel Hill.">

	<meta name="keywords" content="Ben Seeger, Benjamin Seeger, math, mathematics, texas, austin, UT, postdoc, home page, pde">
	
	<!--Google Analytics 
	<script>
 		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-78108855-1', 'auto');
  		ga('send', 'pageview');

	</script>
	-->
	
	<!--
	<script type="text/javascript"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	
	-->
	
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<!--
	<title><?php echo $page_title; if($page_id != 'home') echo ' | Ben Seeger'; ?></title>
	-->
	
	<title>Title of page</title>
</head>

<body>

	<header>
		<h1>Ben Seeger</h1>
	
  
		<hr>
		
			<nav>
				<ul>
					<li><a href="https://web.ma.utexas.edu/users/bs42827/">Home</a>
        			<li><a href="https://web.ma.utexas.edu/users/bs42827/research/">Research</a>
        			<li><a href="https://web.ma.utexas.edu/users/bs42827/teaching/">Teaching</a>
        			 <li><a href="https://web.ma.utexas.edu/users/bs42827/links/">Links</a>   		
				</ul>		
			</nav>
		<hr>
	</header>